{
  "processors": ["stylelint-processor-styled-components"],
  "plugins": ["stylelint-no-unsupported-browser-features"],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components"
  ],
  "rules": {
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["extends"]
      }
    ],
    "font-family-no-duplicate-names": true,
    "font-family-no-missing-generic-family-keyword": true,
    "function-calc-no-invalid": true,
    "function-calc-no-unspaced-operator": true,
    "function-linear-gradient-no-nonstandard-direction": true,
    "keyframe-declaration-no-important": true,
    "media-feature-name-no-unknown": true,
    "no-descending-specificity": true,
    "no-duplicate-at-import-rules": true,
    "no-duplicate-selectors": true,
    "no-empty-source": null,
    "no-extra-semicolons": true,
    "no-invalid-double-slash-comments": true,
    "property-no-unknown": true,
    "color-no-invalid-hex": true,
    "color-hex-case": "lower",
    "color-named": "never",
    "color-hex-length": "long",
    "color-no-hex": null,
    "selector-pseudo-class-no-unknown": true,
    "selector-pseudo-element-no-unknown": true,
    "selector-type-no-unknown": true,
    "string-no-newline": true,
    "unit-no-unknown": true,
    "block-no-empty": null,
    "font-weight-notation": "named-where-possible",
    "font-family-name-quotes": "always-unless-keyword",
    "number-leading-zero": "always",
    "number-no-trailing-zeros": true,
    "value-no-vendor-prefix": true,
    "shorthand-property-no-redundant-values": true,
    "string-quotes": "double",
    "number-max-precision": 2,
    "unit-allowed-list": ["px", "%", "s", "fr"],
    "plugin/no-unsupported-browser-features": [
      true,
      {
        "ignore": [
          // TODO Remove CSS grid or test in Edge
          "multicolumn",
          // These properties are not supported everywhere but should not break the layout too badly
          "wordwrap",
          "word-break",
          "outline",
          "css-appearance",
          // Remove errors about partial supports as it refers to not supporting vmax which we don't use at time of writing.
          // Easier to ignore here
          "viewport-units",
          "object-fit"
        ]
      }
    ]
  }
}
