{
  "customSyntax": "postcss-styled-syntax",
  "extends": [
    "stylelint-config-recommended"
  ],
  "rules": {
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["extends"]
      }
    ],
    "font-family-no-duplicate-names": true,
    "font-family-no-missing-generic-family-keyword": true,
    "function-calc-no-unspaced-operator": true,
    "function-linear-gradient-no-nonstandard-direction": true,
    "keyframe-declaration-no-important": true,
    "media-feature-name-no-unknown": true,
    "no-descending-specificity": true,
    "no-duplicate-at-import-rules": true,
    "no-duplicate-selectors": true,
    "no-empty-source": null,
    "no-invalid-double-slash-comments": true,
    "property-no-unknown": true,
    "color-no-invalid-hex": true,
    "color-named": "never",
    "color-hex-length": "long",
    "color-no-hex": null,
    "selector-pseudo-class-no-unknown": true,
    "selector-pseudo-element-no-unknown": true,
    "selector-type-no-unknown": true,
    "string-no-newline": true,
    "unit-no-unknown": true,
    "block-no-empty": null,
    "font-weight-notation": "named-where-possible",
    "font-family-name-quotes": "always-unless-keyword",
    "value-no-vendor-prefix": true,
    "shorthand-property-no-redundant-values": true,
    "number-max-precision": 2,
    "unit-allowed-list": ["px", "%", "s", "fr", "rem", "vw", "vh", "deg"]

  }
}
